.main
{
    
}
.header
{
    background-image: url('../images/top_1.jpg');
    background-repeat: repeat-x;
    width:1004px;
    height: 100px;
    border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
    margin: 0px;

}

#header_left
{
    float:left;
    width:200px;
    position:relative;

}
#header_center
{
    text-align:center;
    font-size:20px;
    float:left;
    width:500px;
    height: 0px;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);	
}

#hcenter_down{
    text-align: center;
    font-size:14px;
    height: 50px;
    position:relative;
    top:-24px;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);	

}

#header_right
{
    float: right;
    padding-right: 8px;
    position: relative;
    top: 53px;

}
#header_right #search
{
    border-radius: 15px;
    height: 30px;
}
#header_right img{
    position:relative;
    top:9px;
}
div.clear {
    clear:both;
}
#collegname{
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}

.menu
{
    margin-top: -22px;
    height:40px;
    background-image: url('../images/menu.jpg');
    
    font-size: 30px;
    
    border-radius: 15px;
    width:1004px;
}
.menu ul
{
    color:#FFFFFF;  
}

.menu ul li
{
    list-style-type:none;
    display:inline;
    color:#F6F6F6;

}
.menu ul li a
{

    width:170px;
    height:10px;
    display:block;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    float:left;
    text-align:inherit;
    text-decoration:none;
    font-size:16px;
    font-weight: bold;
    padding:12px 10px 20px 0px;
}
.menu ul li a:hover
{
    height:8px;
    color:#FFFFFF;
    text-decoration:underline;
    background-color: saddlebrown;
    margin-bottom: 0px;

}

.banner_part
{
    width: 1004px;

    height:400px;
}

.banner_part .slider
{
    float:left;

}
.slider body {background:#F6F6F6;font:normal 0.9em Arial; margin:0; padding:0; padding-bottom:60px;}
h2 {display:inline;}
.div1, .div2 {width:700px;margin:0 auto;}
.div1 {margin-top:30px;margin-bottom:30px;text-align:center;line-height:20px;}
.div1 P {font-size:18px;}
.div1 a, .div2 a {color:#07C; }
.div1 a {margin:0 8px;}
.div1 a.current {color:black; text-decoration:none;}
.div2 {margin-top:70px;}
.div2 li {padding-top:6px;padding-bottom:6px;}
.green {color:Green;}
.cn {font-family: "Courier New", Georgia;}
#status {display:inline-block; margin-left:26px;line-height:550px;height:50px;vertical-align:middle;}

.code
{
    border: dashed 1px #BCBCCB; padding:8px 12px; background-color: #F3F3F9; white-space:pre; font-family:"Courier New", Georgia;
    font-size:12px; margin:6px 0;overflow:auto; 
}
.content_part
{
    margin-top: -10px;
    width: 1004px;
    height:500px;
    background-image: url('../images/rightnav.jpg');
    border-radius:1em;
}
h3
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}

.content_part .leftpart
{
    margin-top: -240px;
    margin-left: 15px;
    width:330px;
    height:500px;
    float:left;
    font-family: Arial;
    text-align: justify;
    margin-right: 90px;
    color:#FFFFFF;
    
    border-top: 2px;
    border-radius:15px;
}
#readmore
{
    margin-left: 110px;
    background:#008500; color:#FFFFFF; font-size:14px; border:1px solid #0060a1;
}

.content_part .middlepart
{
    margin-top: -240px;
    margin-left: -75px;
    
    width: 330px;
    height:500px;
    float:left;
    text-align: justify;
    margin-right: 90px;
    font-family: Arial;
    margin-right: 0px;
    color:#FFFFFF;
    border-right: 3px solid #008500;
    border-left: 3px solid #008500;
    border-top: 2px;
    border-radius:15px;
}
.content_part #news_topic
{
    
    margin-top: -240px;
    text-align: center;
    font-family: Arial;
    margin-left: 75px;
    font-size: 16px;
    margin-left: 16px;
     
    color:#FFFFFF;  
    padding:0px;
    font-weight: inherit;
    float:left;
    text-align: center;
}
.content_part #news_events
{
    margin-top: -463px;
    margin-left: 715px;
    margin-right: 15px;
    font-weight: inherit;
    float:right;
    border-color: saddlebrown;
    color:#FFFFFF;
    text-align: justify;
    font-family: Arial;
}
.content_part #news_events a
{
    color:#FFFFFF;
    text-decoration: none;
}
.content_part #news_events a:hover
{
    color:black;
    text-decoration: underline;
}

.banner_part .rightpart
{
    height: 600px;
    margin-top: 28px;
    float:left;


}
.banner_part .rightpart .login
{

    margin-left: 40px;


}
.banner_part .rightpart .about
{
    margin-left: 40px;
     border-radius: 15px;
}
.banner_part .rightpart .about a
{
    
    display:block;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-align:inherit;
    text-decoration:none;
    font-size:14px;
    font-weight: bold;
    
}
.banner_part .rightpart .about a:hover
{
    height:20px;
    width: 95px;
    color:#FFFFFF;
    text-decoration:underline;
    background-color: saddlebrown;
    margin-bottom: 0px;
}
p
{
    margin-right: 15px;
    margin-left: 25px;
}
.footer
{
    background-image: url('../images/top_1.jpg');
    margin-top: 10px;
    width: 1004px;
    border-top-right-radius:1em;
    border-top-left-radius:1em;

}
.footer ul
{
    color:#008500;  
}

.footer ul li
{
    list-style-type:none;
    display:inline;
    color:#008500;

}
.footer ul li a
{

    width:105px;
    display:block;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    float:left;
    text-align:inherit;
    text-decoration:none;
    font-size:14px;
    font-weight: bold;
    padding:12px 10px 20px 0px;
    border-right:0px solid #FFFF00;

}
.bodypart{
    width: 1004px;
    height:500px;
    font-family: Arial;
    font-size: 16px;
    text-align: justify;
    
}


.bodypart .bodyleft
{
    width: 250px;
    height:600px;
    float:left;
    margin-left: 35px;
    margin-right: 90px;
}

.bodypart .bodycenter
{
    height: 600px;
    width: 250px;
    margin-right: 90px;
    float:left;


}
.bodypart .bodyright
{
    height: 600px;
    width:250px;
    
    float:left;
}

.bodypart img{
    height: 220px;
    width: 240px;
    padding:1px;
   border:1px solid #021a40;
   background-color:#68CB54;
   margin-left:-500px;
    
}

.about_page
{
    margin-top: 80px;
    margin-left: 50px;
}
.about_page .p2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #008500;
    font-weight: bold;
    font-size: 18pt;
    padding-left: 350px;
    padding-right: 140px;
    text-align: justify;
    margin-top: -30px;
    
}

.about_page img
{
    margin-left: -820px;
    margin-top: -150px;
}

h5
{
    font-family: serif;
    font-size: 16pt;
}
.about_page .about_left
{
    margin-left: 90px;
    margin-top: -50px;
    margin-right: 820px;
    text-align: justify;
}

.about_page .about_middle
{
    margin-left: 440px;
    margin-top: -328px;
    margin-right: 470px;
    text-align: justify;
}

.about_page .about_right
{
    margin-top: -347px;
    margin-left: 790px;
    margin-right: 140px;
    text-align: justify;
}


